.inactive-user-alert {
    color: #D92D20;
}
.inactive-user-alert .ant-alert-content .ant-alert-message {
    color: #B42318
}
.active-user-alert{
    color: #039855;
}
.active-user-alert .ant-alert-content .ant-alert-message {
    color: #027A48;
}
